node_modules
**/node_modules
.next
.turbo
dist
**/dist
coverage
.git
.github
.env
.env.*
!**/.env.example
*.log
.DS_Store
Thumbs.db
apps/web
docs
**/*.md
!**/.env.example
apps/api/test
apps/api/coverage
